.DS_Store
/testindex
/in_*trace*
/out_*trace*
/testshare2
aktie.jar*
/testshare
/notes
/lib/aktieapp.jar
/debug
/tstnode
/testnode0
/testnode1
/testnode2
/testnode3
/n0lucene
/n0
/n1lucene
/n1
/testindex
/h2dbtest
/bin
/i2ptest
